/* --------------------------------------
  Bootstrap
-------------------------------------- */

  @import "bootstrap-sprockets";
  @import "bootstrap";

/* --------------------------------------
  Global settings
-------------------------------------- */
body {
    background: asset_url('main/body_bg.png');
  }
  .welly {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
  }
  .brand {
    color: #FF4500;
  }
  .tab {
    margin-left: 20px;
  }
  h1 {
    font-size: 18px;
  }
  .float {
    float: left;
  }

/* --------------------------------------
  Container
-------------------------------------- */
  #container {
    padding-bottom: 20px;
    h3, h1 {
      margin-top: 5px;
    }
    .breadcrumbs {
        li {
          display: inline-block;
        }
        li + li:before {
          color: #cccccc;
          content: "/ ";
          padding: 0 5px;
        }
        list-style: outside none none;
        margin-bottom: 5px;
        padding: 8px 15px;
    }
  }

/* --------------------------------------
  Header
-------------------------------------- */

#header {
  height: 70px;
  padding-top: 10px;
  .number {
    color: #4F4F4F;
    font-size: 21px;
    font-weight: bold;
    margin: 10px 0 0 50px;
  }
  .adress {
    margin-left: 120px;
    color: #566473;
    font: 12px bold;    
  }
  .time {
    margin-left: 30px;
    color: #566473;
    font: 12px bold;
  }
  .cart {
    color: #566473;
    padding: 5px;
    margin-left: 70px;
    height: 50px;
    margin-bottom: 5px;
    .text {
      margin: 5px 15px 0 5px;
    }
  }
}

/* --------------------------------------
  Navbar
-------------------------------------- */
  #navbar.navbar {
    padding-left: 30px;
    margin-bottom: 10px;
    min-height: 30px;
  .form-control {
    max-height: 25px;
    margin-top: 3px;
  }
  .btn {
    padding: 3px 7px;
  }
  .search {
    padding: 1px 1px 5px 3px;
  }
  button {
    height: 25px;
    margin-top: 3px;
  }
  .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .navbar-form {
    padding-left: 20px;
      margin: 4px -15px;
    }
  }
  .nav {
    .caret {
      margin-left: 9px;
    }
  }
  .dropdown-menu{
    .dropdown-header {
      color: #FF4500;
    }
    li.header {
      color: #FF4500;
      margin-left: 15px;
    }
    li.divider {      
      margin: 3px;
    }
  }

/* --------------------------------------
  SideBar Styles
-------------------------------------- */
.left-sidebar {
  .panel-heading {
    .panel-title {
      a {
        font-size: 14px;
        display: block;
      }
    }
   }
    .panel-body {      
      padding-top: 5px;
      padding-bottom: 7px;
      
      ul {
        padding-left: 15px;
      }
      li {
        list-style: none;
        a {
          margin: 5px 5px;
          font-size: 13px;
          display: block;
        }
      }      
      img {
        margin: 15px 20px 10px 5px;
        float: left;
      }
    }
}
    #accordion {
      padding-top: 5px;
      .panel-heading {
        padding: 8px 15px;
        
        .panel-title {          
          font-weight: bold;
          color: #2A6496;
        }
      }
    }

/* --------------------------------------
RightSidebar Styles
-------------------------------------- */
  #right_sidebar {
    margin-top: 5px;    
      .adress {
        h3.panel-title {
        color: white;
      }
      .panel-body {
        padding-top: 10px;
      }
      .panel-heading {
        padding: 5px 15px;
      }
    }
    #aktsiya {
      .panel-heading {
        padding: 5px;
        text-align: center;
      }
      .panel-body {
        padding: 5px 15px;
        text-align: center;
        h3 {
          margin-top: 5px;
        }
      }
    }
    .popover-example .popover {
      margin: 0 0 20px 0;
      position: relative;
      display: block;
      .popover-title {
        text-align: center;
      }
      .popover-title {
        padding: 5px 0;
      }
      .popover-content {
        padding: 0;
      }
      h3, h4, h5 {
        text-align: center;
      }
    }
  }

/* --------------------------------------
  Footer Styles
-------------------------------------- */
  footer {
    margin-top: 5px;
    padding: 5px 40px 5px 40px;
    color: #999;
    a {
      color: #555;
    }
    a:hover {
      color: #222;
    }
    small {
      float: left;
    }
      ul {
        float: right;
        list-style: none;
      }
    li {
      float: left;
      margin-left: 50px;
    }
  }