<h3>Замовлення з сайту www.twplomarket.com.ua відправлено</h3>
<p>
  Це повідомлення інформує Вас що нещодавнє замовлення з сайту www.teplomarket.com.ua було відправлено:
</p>
<table>
  <tr><th colspan="2">К-во</th><th>Описание</th></tr>
  <%= render @order.line_items -%>
</table>