<h1 class="brand">Перелік виробників</h1>

<table class="table table-hover">
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><strong><%= link_to company.name, company %></strong></td>
        <td><%= image_tag('main/' + company.img) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
