// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article {
  .field {
    margin-bottom: 10px;
  }
}

#article {
margin-bottom: 40px;
.text-right {
margin: 5px 15px 10px 0;
}
span {
color: grey;
}
small {
margin: 5px 10px 0 10px;
color: grey;
}
}
