// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article {
  margin-bottom: 40px;
  .panel-body {
    padding: 20px;
  }
  .text-right {
    margin: 5px 15px 10px 0;
  }
  .field {
    margin-bottom: 10px;
  }
  span {
    color: grey;
  }
  small {
    margin: 5px 10px 0 10px;
    color: grey;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}
