// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cart {
  margin-bottom: 5px;
  h1 {
    font-size: 14px;
    margin-left: 10px;
  }
  .text-left {
    a {
      margin-left: 10px;
      
    }
  }
  .text { 
    font-size: 10px;
    font-weight: bold;
    td {
      padding: 4px;
    }
  }
  .total {
    font-weight: bold;
    font-size: 10px;
    td {
      padding: 4px;
    }
  }  
  input {
    margin-top: 0;
    font-size: 10px;
    text-align: right;
  }
  .table {
    margin-bottom: 0;
  }
}
