// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies {
  img {
    height: 40px;
  }
  .header {
    font-size: 14px;
    margin-top: 0;
  }
  .caption {
    padding: 5px;
    height: 160px;
    hr {
      margin: 5px 3px;
    }
    p {
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
}
