// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product {
  margin-bottom: 40px;
  h1 {
    margin-top: 5px;
  }
  .panel-body {
    padding: 20px 20px 15px 20px;
  }
  .text-right {
    margin: 5px 15px 10px 0;
  }
  .field {
    margin-bottom: 10px;
  }
  .details {
    font-size: 11px;
  }
  small {
    margin: 5px 10px 0 10px;
    color: grey;
  }
  img {
    max-height: 120px;
    float: left;
    margin-right: 10px;
  }
  .price_line {
    margin-top: 30px;
  }
}
