// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user {
  width: 70%;
}
#user_area {
  .panel-heading {
    padding: 5px 0 10px  20px;
    color: #2a6496;
    h3 {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .panel-body { 
    padding-bottom: 10px;
    ul {
      padding-left: 10px;
    }
    li {
      list-style: outside none none;
    }
  }
}