<% if line_item == @current_item %>
  <tr class="current_item text">
<% else %>
  <tr class="text">
<% end %>
  <td><%= line_item.product.label %></td>
  <td><%= line_item.quantity %></td>
  <td><%= sprintf("%0.02f",line_item.total_price) %></td>
  
</tr>     
      