<div id="companies">
  <% random_companies.each do |company| %>    
      <div class="col-md-3">
        <%= image_tag('main/' + company.img, class: "img-thumbnail") %>
        <div class="thumbnail welly">          
          <div class="caption">
            <div class="header"><%= link_to company.name, company %></div><hr>
            <p><%= truncate(company.describe, length: 100, separator: ' ', escape: false) %></p>
            <p class="bottom"><%= link_to "Детальніше", company, class: "btn btn-primary btn-xs" %></p>
          </div>
        </div>        
      </div>    
  <% end %>
</div>
