<div class="row">
  <% random_companies.each do |company| %>
    <div id="companies">
      <div class="col-sm-6 col-md-4">
        <%= image_tag('main/' + company.img, class: "img-thumbnail") %>
        <div class="thumbnail welly">          
          <div class="caption">
            <div class="header"><%= link_to company.name, company %></div><hr>
            <p><%= truncate(company.describe, length: 100, separator: ' ', escape: false) %></p>
            <p class="bottom"><%= link_to "Детальніше", company, class: "btn btn-primary btn-xs" %></p>
          </div>
        </div>        
      </div>
    </div>
  <% end %>
</div>