<div class="panel-group welly" id="accordion">
  <% all_themes.each do |theme| %>
    <div class="panel panel-default">
      <div class="panel-heading welly">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <%= theme.name %>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>            
            <li><a href="#">Тепла підлога Raychem</a></li>
            <li><a href="#">Тепла підлога Thermoland</a></li>
        </ul>
      </div>
      </div>
    </div>
  <% end %>  
</div>